/.DomainModelTemplate.java._trace
/.Template.java._trace
/.Template.xtendbin
/.Template2.java._trace
/.Template2.xtendbin
/.Template3.java._trace
/.Template3.xtendbin
/.Template4.java._trace
/.Template4.xtendbin
/Template.java
/Template2.java
/Template3.java
/Template4.java
